{% extends "core/base.html" %}

{% block content %}

    <div class="container">
        <div class="table-responsive text-nowrap">
            <h2>Order Summary</h2>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Number</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total Item Price</th>
                </tr>
                </thead>
                <tbody>
                {% for order_item in object.items.all %}
                    <tr>
                        <td>{{ forloop.counter}}</td>
                        <td>{{ order_item.item.title}}</td>
                        <td>{{ order_item.item.price}}</td>
                        <td>{{ order_item.quantity}}</td>
                        <td>
                            {% if order_item.item.discount_price %}
                                {{ order_item.get_total_discount_price }}
                                <span class="badge badge-primary">Saving {{ order_item.get_total_saved_price }}</span>
                            {% else %}
                                {{ order_item.get_total_price }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="4"><b>Order Total</b></td>
                    <td><b>{{ object.get_final_price }}</b></td>
                </tr>
                <tr>
                    <td colspan="5">
                        <a class="btn-primary btn float-right ml-2" href="{% url "core:home" %}">Continue shopping</a>
                        <a class="btn-warning btn float-right" href="{% url "core:checkout" %}">Proceed to Checkout</a>
                    </td>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}